form#readyForm(role="form", ng-controller="readyFormCtrl", name="ready", ng-submit='submit()', novalidate, form-autofill-fix)
  button.btn.btn-lg.btn-info.col-sm-12(type='submit', ng-disabled="sent", ng-show="entried") {{buttonmsg}}