extends game

append css
  link(rel='stylesheet', href='/css/bootstrap.light.css')

append players
  include includes/players

append action
  if morningDeads.length > 0
    each username in morningDeads
      p
        strong(style="color:red") #{players[username].screenname}
        span は無残な死体となって発見されました。
  else
    p 平和な朝を迎えました。
  p 通話を開始し、生存者以外はマイクをミュートしてください。
  - var callUri = new String();
  for player, username in players
    if player.skype !== undefined && username != user.username
      - callUri += player.skype + ";"
  - callUri = callUri.slice(0,-1) + "?call"
  a.btn.btn-lg.btn-default.col-sm-12(href="skype:#{callUri}") Skype
  include includes/readyButton
append chat
  include includes/chat
